// table.scss

/* =========================== Todo Display Table ========================== */
main {
	@extend %default-border-reverse;
	align-items: center;
	background-color: $neutral-highlight;
	background-image: url(../img/paper-texture.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-left: none;
	border-right: none;
	border-top: none;
	display: flex;
	flex-direction: column;
	grid-area: main;

	table {
		display: grid;
		grid-template-rows: 50px 1fr;
		overflow: scroll;
		scrollbar-color: $neutral-lowlight transparent;
		width: 100%;

		&::-webkit-scrollbar-thumb {
			background-color: $neutral-lowlight;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	}

	thead {
		background-color: $neutral-accent;
		inset-block-start: 0;
		position: sticky;

		tr {
			@extend %default-border;
			align-items: center;
			border-left: none;
			border-right: none;
			display: grid;
			grid-template-columns: 0 96px 3fr 2fr 2fr 48px 48px;
			grid-template-rows: 48px;

			th {
				align-content: center;
				display: grid;
				justify-items: center;

				button {
					width: 96px;

					&:active {
						color: $neutral-primary;
					}

					&.ascending::after {
						color: $neutral-primary;
						content: "▲";
						font-size: 95%;
						padding-left: 8px;
						position: absolute;
					}

					&.complete {
						padding-left: 24px;
					}

					&.descending::after {
						color: $neutral-primary;
						content: "▼";
						font-size: 95%;
						padding-left: 8px;
						position: absolute;
					}
				}
			}
		}
	}

	tbody {
		tr {
			@extend %default-border;
			align-items: center;
			background-color: $neutral-primary;
			border-left: none;
			border-right: none;
			cursor: pointer;
			display: grid;
			grid-template-columns: 48px 48px 3fr 2fr 2fr 48px 48px;
			grid-template-rows: 48px;

			&.no-todos {
				background-color: transparent;
				border: none;
				cursor: default;
				display: flex;
				grid-template-columns: min(0, 1fr);
				grid-template-rows: 100%;
				height: 100%;
				justify-content: center;
				padding: 24px 24px 0;

				img {
					content: url(../img/no-todos.svg);
					display: block;
					height: 100%;
					opacity: 50%;
				}
			}

			&:active:not(.no-todos) {
				background-color: $neutral-highlight;
			}

			td {
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				user-select: none;
				white-space: nowrap;

				button {
					color: $neutral-lowlight;

					svg {
						border-radius: 100px;
					}
				}

				&.chevron,
				&.edit-todo {
					button:active {
						color: $text-dark;
					}
				}

				&.complete,
				&.incomplete {
					button:active {
						color: $text-dark;

						svg {
							background-color: $theme-primary;
						}
					}
				}

				&.complete button {
					color: $text-dark;

					svg {
						background-color: $theme-primary;
					}
				}

				&.delete-todo button:active {
					color: $danger-color-active;
				}

				&.details {
					align-items: center;
					background-color: $theme-secondary;
					border-top: 1px solid $neutral-lowlight;
					display: grid;
					grid-column: 1/-1;
					justify-items: center;
					overflow: initial;
					text-align: left;
					text-overflow: initial;
					user-select: initial;
					white-space: initial;

					&.hidden,
					&.none {
						display: none;
					}

					p {
						margin: 16px 24px;
						max-width: 480px;
					}
				}

				&.name {
					padding-left: 8px;
				}
			}
		}
	}

	.add-todo {
		@extend %default-border;
		background-color: $theme-secondary;
		border-radius: 16px;
		box-shadow: 0 0 0 4px $neutral-accent;
		color: $text-less-dark;
		flex-shrink: 0;
		font-weight: bold;
		height: 48px;
		margin: 24px;
		width: 144px;
	}

	.add-todo:active {
		@extend %default-border-reverse;
		background-color: $theme-primary;
		font-size: 95%;
	}
}

/* ============================ Portrait Mobile Queries ============================ */
@media screen and (max-width: 720px) {
	main {
		thead tr th {
			font-size: 16px;
		}

		tbody tr td {
			&.created,
			&.due-date,
			&.name {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-width: 640px) {
	main {
		thead tr {
			grid-template-columns: 0 96px 3fr 2fr 48px 48px;

			th:nth-child(5) {
				display: none;
			}
		}

		tbody tr {
			grid-template-columns: 48px 48px 3fr 2fr 48px 48px;

			td:nth-child(5) {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	main {
		thead tr {
			grid-template-columns: 48px 3fr 2fr 48px 48px;

			button.complete {
				display: none;
			}

			th:nth-child(1) {
				display: none;
			}
		}

		tbody tr {
			grid-template-columns: 48px 3fr 2fr 48px 48px;

			td:nth-child(1) {
				display: none;
			}
		}
	}
}

/* ======================== Landscape Mobile Queries ======================= */
@media screen and (max-height: 720px) and (max-width: 960px) and (min-width: 480px) {
	main {
		thead tr {
			grid-template-columns: 16px 80px 3fr 2fr 48px 48px;

			th:nth-child(5) {
				display: none;
			}
		}

		tbody tr {
			grid-template-columns: 48px 48px 3fr 2fr 48px 48px;

			td:nth-child(5) {
				display: none;
			}
		}
	}
}

@media screen and (max-height: 720px) and (max-width: 800px) {
	main {
		thead tr {
			grid-template-columns: 48px 3fr 2fr 48px 48px;

			th {
				font-size: 16px;

				button.complete {
					display: none;
				}
			}

			th:nth-child(1) {
				display: none;
			}
		}

		tbody tr {
			grid-template-columns: 48px 3fr 2fr 48px 48px;

			td.created,
			td.due-date,
			td.name {
				font-size: 16px;
			}

			td:nth-child(1) {
				display: none;
			}
		}
	}
}

@media screen and (max-height: 480px) {
	main tbody tr.no-todos {
		max-height: 96px;
		padding-top: 16px;
	}

	main .add-todo {
		margin: 16px;
	}
}
