// variables.scss

/* ================================= Colors ================================ */
$background-color: #555555;
$danger-color-active: #aa2222;
$danger-color: #cc2222;
$modal-filter: rgba(0, 0, 0, 0.5);
$neutral-accent: #dddddd;
$neutral-highlight: #bbbbbb;
$neutral-lowlight: #777777;
$neutral-primary: #999999;
$text-dark: #111111;
$text-less-dark: #333333;
$text-light: #ffffff;
$theme-primary: #ffcc00;
$theme-secondary: #ffeeaa;

/* ================================ Borders ================================ */
%default-border {
	border-bottom: 1px solid $neutral-lowlight;
	border-left: 1px solid $neutral-highlight;
	border-right: 1px solid $neutral-lowlight;
	border-top: 1px solid $neutral-highlight;
}

%default-border-reverse {
	border-bottom: 1px solid $neutral-highlight;
	border-left: 1px solid $neutral-lowlight;
	border-right: 1px solid $neutral-highlight;
	border-top: 1px solid $neutral-lowlight;
}
